<div class="card-no-border">
    <section id="wrapper">
        <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" (ngSubmit)="login()" #forma="ngForm">
                        <h3 class="box-title m-b-20">Sign In</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control"  type="text" #dni="ngModel" [(ngModel)]="loginForm.dni"  required="" placeholder="Introduzca su DNI" name="dni" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" #password="ngModel" [(ngModel)]="loginForm.password" required="" placeholder="Introduzca su Password" name="password">
                            </div>
                        </div>
                        <div class="form-group row">
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                <div class="social">

                                </div>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>