
<div class="card-header">

  <div class="card-tools">
    <div class="input-group input-group-sm" style="width: 350px;">
      <input type="text" name="table_search" class="form-control float-right" placeholder="Search" [(ngModel)]="filterPost" name="filterPost" placeholder="Ingrese su busqueda">

      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
  <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap mb-5">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Año</th>
                <th>Asunto</th>
                <th>Referencia</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tramite of listTramite | paginate: { itemsPerPage: 7, currentPage: p } | filter:filterPost">
                <td><a href="javascript:void(0)">{{tramite.codigo}}</a></td>
                <td>{{tramite.ano}}</td>
                <td>{{tramite.asunto}}</td>
                <td>{{tramite.referencia}}</td>
                <td>{{tramite.fecha}}</td>
                <td>{{tramite.hora}}</td>
               
                <td class="text-nowrap text-center">
                    <a href="{{url}}/pdf/documento-interno?codigo={{tramite.codigoDocumento}}&idArea={{idArea}}"
                        target="_blank" data-toggle="tooltip" data-original-title="Edit"
                        class=" btn btn-circle btn-secondary btnAction mr-2"> <i class="fa fa-file-pdf-o text-inverse"></i> </a>
                    <a  (click)="enviarRuta(tramite.codigo, tramite.Codigodocumento!.codigoUnico)" 
                        target="_blank" data-toggle="tooltip" data-original-title="Edit"
                        class=" btn btn-circle btn-primary btnAction"> <i class="fas fa-eye text-inverse"></i> </a>
                </td>
        </tbody>
      </table>
      <pagination-controls class="text-right mt-3" (pageChange)="p = $event"></pagination-controls>
    </div>