<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Tramite Interno N° {{ codigo }}</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="form-group">
      <div class="row">
        <div class="col-lg-2">
          <label for="" class="form-group"><strong>Asunto:</strong></label>
        </div>
        <div class="col-lg-10">
          {{ listTramite!.asunto }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-2">
          <label for="" class="form-group"><strong>Fecha:</strong></label>
        </div>
        <div class="col-lg-10">
          {{ listTramite!.fecha }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-2">
          <label for="" class="form-group"><strong>Referencia:</strong></label>
        </div>
        <div class="col-lg-10">
          {{ listTramite!.referencia }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-2">
          <label for="" class="form-group"><strong>Observacion:</strong></label>
        </div>
        <div class="col-lg-10">
          {{ listTramite!.observacion }}
        </div>
      </div>
    </div>


  </div>
  <div class="card-header">
    <h3 class="card-title">Documento Firmado</h3>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="row">
        <div class="col-lg-6">
          <a class="btn btn-success waves-effect waves-light ml-3" href="{{url}}/firmadocumentointerno/{{codigoDoc}}"
            target="_blank">
            <span class="btn-label"><i class="fa fa-file-pdf-o"></i></span>
            Documento Firmado
          </a>
        </div>
        <div class="col-lg-6">

        </div>
      </div>
    </div>
  </div>
  <div class="card-header">
    <h3 class="card-title">Seguimiento</h3>
    <button class="btn btn-primary btn-xs waves-effect waves-light ml-3 float-right" data-toggle="modal"
      data-target="#modalDetallado" data-whatever="@getbootstrap" (click)="verDetallado(listTramite.codigo)">
      <span class="btn-label"><i class="fa fa-file-pdf-o"></i></span>
      Tramite Detallado
    </button>
  </div>
  <div class="card-body">
    <div class="form-group card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr>
            <th>Destino</th>
            <th>Fecha Derivacion</th>
            <th>Hora Derivacion</th>
            <th>Fecha Recepcion</th>
            <th>Hora Recepcion</th>
          </tr>
        </thead>
        <tbody class="">
          <tr *ngFor="let seguimiento of listSeguimiento">
            <td>{{ seguimiento.Area.nombre }}</td>
            <td>{{ seguimiento.fechaDerivado }}</td>
            <td>{{ seguimiento.horaDerivado }}</td>
            <td>{{ seguimiento.fechaRecepcion }}</td>
            <td>{{ seguimiento.horaRecepcion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-header">
    <h3 class="card-title">Documentos Anexos</h3>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="container-fluid">
        <a *ngFor="let anexo of listAnexoPdf" class="btn btn-outline-secondary waves-effect waves-light ml-3"
          target="_blank" href="{{url}}/mostraranexo/interno/{{anexo.id}}">
          <span class="btn-label"><i class="fa fa-file-pdf-o"></i></span>
          {{anexo.archivo}}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalDetallado" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Ver Tramite Detallado N° {{ numeroTramite }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Codigo Documento</th>
              <th scope="col">Observacion</th>
              <th scope="col">Documento Firmado</th>
              <th scope="col">Documentos Anexados</th>
              <th scope="col">Respuesta Tramite</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detalle of listDetalle" >
              <td scope="row" *ngIf="detalle.codigoDocumento">{{detalle.codigoDocumento}}</td>
              <td scope="row" *ngIf="!detalle.codigoDocumento">{{detalle.codigoDocumento}}</td>
              <td>
                {{detalle.observacion}}
              </td>
              <td *ngIf="!detalle.codigoDocumento">---</td>
              <td *ngIf="detalle.codigoDocumento">
                <a href="{{url}}/firmadocumentointerno/{{detalle.codigoDocumento}}"
                  target="_blank" data-toggle="tooltip" data-original-title="Edit"
                  class=" btn btn-circle btn-success btnAction"> <i class="fa fa-file-pdf-o text-inverse"></i> </a>
              </td>
              <td *ngIf="!detalle.codigoDocumento">---</td>
              <td *ngIf="detalle.codigoDocumento" >
                <a *ngFor="let anexo of detalle.anexoDetalle" href="{{url}}/mostraranexo/interno/{{anexo.id}}"
                  target="_blank" data-toggle="tooltip" data-original-title="Edit"
                  class=" btn btn-circle btn-secondary btnAction"> <i class="fa fa-file-pdf-o text-inverse"></i> </a>
              </td>
              <td >{{detalle.RespuestaTramite.nombre}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>