
        <div class="card-body">
            <form (ngSubmit)="crearDocumento()">
                
                <div class="form-group">
                    <h5 class="m-b-10">Seleccionar tipo documento</h5>
                    <select (click)="verDoc($event)" class="form-control" style="width: 100%; height:36px;"
                        tabindex="-1" aria-hidden="true" [(ngModel)]="documentForm.tipoDoc">
                        <option value="">Seleccionar una opcion</option>
                        <option *ngFor="let documento of listTipoDoc" value="{{documento.sigla}}">{{documento.nombre}}
                        </option>
                    </select>
                </div>
                <div class="form-group invi" id="seleOne">
                    <mat-label>Seleccionar el destino</mat-label>
                    <mat-select [(ngModel)]="documentForm.destinoOne">
                      <mat-option *ngFor="let area of listArea" [value]="area.id">
                        {{area.nombre}}
                      </mat-option>
                    </mat-select>
                </div>
                <div class="form-group invi" id="seleTwo">
                    <mat-label>Seleccionar el destino</mat-label>
                    <mat-select [(ngModel)]="documentForm.destinoTwo" multiple>
                      <mat-option *ngFor="let topping of listArea" [value]="topping.id">{{topping.nombre}}</mat-option>
                    </mat-select>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Asunto:" [(ngModel)]="documentForm.asunto">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Referencia:" [(ngModel)]="documentForm.referencia">
                </div>
                <div class="form-group">
                    <div class="NgxEditor__Wrapper">
                        <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="documentForm.descripcion" [config]="editorConfig"></angular-editor>
                    </div>
                </div>
                <h4><i class="ti-link"></i> Attachment</h4>
                <form action="#" class="dropzone">
                    <div class="fallback">
                        <input name="file" type="file" multiple #fileDocument (change)="capturarFileLogo($event)"
                            accept="pdf/*,.pdf,.xlsx,.docx,.pptx" />
                    </div>
                </form>
                <button type="submit" class="btn btn-success m-t-20"><i class="fa fa-envelope-o"></i> Send</button>
                <button class="btn btn-inverse m-t-20"><i class="fa fa-times"></i> Discard</button>
            </form>
        </div>
 